<roundcube:object name="doctype" value="html5" /><html><head><title><roundcube:object name="pagetitle" /></title><roundcube:include file="/includes/links.html" /><link rel="stylesheet" type="text/css" href="/settings.css" /><style type="text/css">
table.propform_settings td
{
  border-bottom: none !important;
  background: #eee !important;
}
#summarytable
{
  width: 100%;
}
td.narrow
{
  width: 1px !important;
}
div.title
{
  background: #eee;
  padding: 10px 10px;
}
</style></head><body class="iframe"><h1 class="boxtitle"><a href="./?_task=settings&_action=edit-prefs&_section=accountlink&_framed=1" style="font-size:12px"><roundcube:label name="settings.account" /></a>&nbsp;&raquo;&nbsp;<roundcube:label name="summary.accountsummary" /></h1><form name="form" class="propform"><div id="preferences-details" class="boxcontent"><roundcube:object name="summary_quota" /><roundcube:object name="summary_mailboxes" /><roundcube:object name="summary_timezone" /><roundcube:object name="summary_spamfilter" /><roundcube:object name="summary_forwarding" /><roundcube:object name="summary_autoresponder" /><roundcube:object name="summary_pwtools" /></form></body></html>